* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}
html {
  margin: 0 auto;
  align-items: center;
}
.header {
  width: 100%;
  height: 100px;
  background-color: orangered;
}
.body-calculater {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border: 2px, solid black;
  background-color: gray;
  padding: 20px;
}
.inner-calculat {
  width: 100%;
  height: 100%;
  background: rgb(59, 54, 54);
  overflow: hidden;
}
.window-answer {
  width: 100%;
  height: 100px;
  background: green;
  padding-top: 20px;
  text-align: end;
  font-size: 50px;
}
.button-place {
  padding-top: 5px;
  margin-left: 7px;
  display: flex;
  flex-wrap: wrap;
}
.button-value {
  width: 107px;
  margin-right: 6px;
  margin-top: 3px;
  height: 55px;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  background: honeydew;
}
.button-value:hover {
  background-color: white;
}
